{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PixelPulseTech</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/tarif_dum/tarif_korparativ.css' %}">
    <link rel="stylesheet" href="{% static 'css/tarif_dum/footer_dum.css' %}">
    <link rel="stylesheet" href="{% static 'css/forma.css' %}">
    <link rel="stylesheet" href="{% static 'css/forma2.css' %}">
    <link rel="stylesheet" href="{% static 'css/tarif_dum/images.css' %}">

</head>
<body>
<div class="container_dum">
    {% include 'dum/header_1.html' %}
    <div class="block_1_dum">
        <div class="moshno_oruzh">
            Ваше комплексное онлайн присутствие
        </div>
    </div>
    <div class="text_1_dum">
        <div class="zagolovok_1bloka">
            Многостраничный сайт
        </div>
        <div class="nazvaniy_zagolovok">
            Большой корпоративный сайт
        </div>
        <div class="perv_text">
            В современном мире интернет-бизнеса, иметь эффективное онлайн-присутствие становится все более важным.
            Однако выбор между многостраничным сайтом и лендинг пейджем может быть непростым. Давайте разберемся, что
            такое многостраничный сайт и почему он может быть ключом к вашему успеху в интернете.
        </div>
        <div class="vtor_text">
            Многостраничный сайт - это веб-сайт, состоящий из нескольких страниц, которые связаны общей темой или целью.
            Это наиболее распространенный тип сайта в интернете.

        </div>
    </div>
    <div class="block_1_dum">
        <div class="moshno_oruzh_2">
            Корпоративный сайт
        </div>
    </div>
</div>
<div class="belyi_container">
    <div class="block1_belyi">
        <div class="structura_mnogostranich_saita">
            Структура многостраничного сайта
        </div>
        <div class="flex_belog_blocka_tarif">
            <div class="kartika_korparativ"><img
                    src="{% static 'css/tarif_dum/img/korparativ/главная страница.png' %}" alt="">
            </div>
            <div class="kartika_korparativ"><img
                    src="{% static 'css/tarif_dum/img/korparativ/О нас.png' %}" alt="">
            </div>
        </div>
        <div class="flex_belog_blocka_tarif">
            <div class="kartika_korparativ"><img
                    src="{% static 'css/tarif_dum/img/korparativ/услуги продукты.png' %}" alt="">
            </div>
            <div class="kartika_korparativ"><img
                    src="{% static 'css/tarif_dum/img/korparativ/контакты.png' %}" alt="">
            </div>
        </div>
        <div class="flex_belog_blocka_tarif">
            <div class="blog_korparatif_kartinka">
                <img src="{% static 'css/tarif_dum/img/korparativ/Блог.png' %}" alt="">
            </div>
        </div>
        <div class="zagolovok_belogo_blocka">
            Почему многостраничный сайт так важен?
        </div>
        <div class="flex_belog_blocka">
            <div class="karinka_belog_block">
                <img src="{% static 'css/tarif_dum/img/korparativ/1.png' %}" alt="">
            </div>
            <div class="karinka_belog_block">
                <img src="{% static 'css/tarif_dum/img/korparativ/2.png' %}" alt="">
            </div>
            <div class="karinka_belog_block">
                <img src="{% static 'css/tarif_dum/img/korparativ/3.png' %}" alt="">
            </div>
        </div>
    </div>
    <div class="pervai_poloska"></div>
    <div class="vtor_poloska"></div>
    <div class="block2_belyi">
        <div class="razrab_lendaing">
            <div class="text_razrab_landing"> Закажите разработку многостраничного сайта у нас, и вы получите
                комплексное онлайн-присутствие, которое поможет вам привлечь больше клиентов и достичь успеха в
                интернете. Наши специалисты готовы превратить вашу идею в реальность и помочь вам стать видимыми
                и
                успешными в онлайн-мире.
            </div>
        </div>
        <div class="pimery_nekotor">
            Примеры Многостраничных Сайтов:
        </div>
        {% include 'dum/images2.html' %}
        <div class="huchy_sait_knopka forma_otkroisy">
            Хочу сайт!
        </div>
    </div>
</div>
{% include 'dum/footer_dum.html' %}
{% include 'forma.html' %}
{% include 'forma2.html' %}
<script src="{% static 'js/форма.js' %}"></script>
<script src="{% static 'js/poyzvlenie_forms.js' %}"></script>
<script src="{% static 'js/images.js' %}"></script>
<script src="{% static 'js/появление второй формы.js' %}"></script>
</body>
</html>