* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_svyz_snami {
    width: 75%;
    margin: 0 auto;
    min-height: 60vh;
    background: url(../img/связь_с_нами/фон_связ_с_нами.png);
    background-repeat: no-repeat;
    padding-top: 5%;
    background-size: contain;
    background-position: left;
    margin-top: 5%;
}

.svyz_otlich_proekt {
    font-size: 33px;
    font-weight: 300;
    text-align: center;
    width: 469px;
    max-width: 100%;
    margin-left: 39%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2E363E;
}

.svyzatsy_knopka {
    color: white;
    background: #2E363E;
    padding: 14px;
    width: 182px;
    text-align: center;
    font-size: 17px;
    margin-top: 10%;
    cursor: pointer;
}

.svyz_baba {
    display: none;
}

@media (min-width: 1701px) {
    .svyzatsy_knopka {
        padding: 1vw;
        width: 14vw;
        font-size: 1.2vw;
    }

    .svyz_otlich_proekt {
        font-size: 2.5vw;
        width: 37vw;
    }

}

@media (max-width: 992px) {
    .container_svyz_snami {
        width: 75%;
        margin: 0 auto;
        min-height: 60vh;
        background: url(../img/связь_с_нами/фон_связ_с_нами2.png);
        background-repeat: no-repeat;
        padding-top: 5%;
        background-size: contain;
        background-position: left;
        margin-top: 5%;
    }

    .container_svyz_snami {
        min-height: 45vh;
    }

    .svyz_otlich_proekt {
        font-size: 23px;
        font-weight: 500;
        width: 356px;
        margin-left: 35%;
    }
}

@media (max-width: 600px) {
    .container_svyz_snami {
        background: none;
    }

    .svyz_otlich_proekt {
        margin: 0 auto;
        font-size: 20px;
        font-weight: 500;
    }

    .svyz_baba {
        position: relative;
        display: block;
        height: 261px;
    }

    .svyz_baba img {
        width: 280px;
        height: 261px;
        object-fit: contain;
    }

    .svyzatsy_knopka {
        margin: 0;
        width: 250px;
    }
}
@media (min-height: 1000px) {
  /* Примените стили, если высота экрана меньше или равна 500px */
    .container_svyz_snami {
        min-height: 28vh;
    padding: 10vw 0 10vw 0;
}
}
