{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
<div class="section3" id="etapy">
    <div class="etap_planirov">
        <h1>Этапы разработки сайта</h1>
    </div>
    <div class="container_section3 animatable fadeInUp">
        <div class="box_border width_border">
            <h2 class="zagolovok_sect3">
                Планирование
            </h2>
            <div class="karinka_sect3">
                <img src="{% static 'img/этапы_разработки/планирование и анализ 1.png' %}" alt="">
            </div>
            <p class="content_sect3">
                • Определение целей и требований сайта <br>
                • Исследование целевой аудитории и конкурентов<br>
                • Создание структуры сайта и его функциональных возможностей
            </p>
        </div>
        <div class="box_border2 width_border padding2etap animatable fadeInUp">
            <h2 class="zagolovok_sect3">
                Проектирование
            </h2>
            <div class="flex_boxa">
                <div class="karinka_sect3">
                    <img class="proe" src="{% static 'img/этапы_разработки/Проектирование.png' %}" alt="">
                </div>
                <p class="content_sect3 width_conten_proekt">
                    • Создание структурной схемы и прототипа <br>
                    • Разработка дизайна: выбор цветовой палитры, шрифтов, графики и визуальных элементов <br>
                    • Создание макета сайта
                </p>
            </div>
        </div>
    </div>
    <div class="container_section3">
        <div class="box_border3 width_border animatable fadeInUp">
            <div class="karinka_sect3 razrabotka_kartinka">
                <img src="{% static 'img/этапы_разработки/разработка.png' %}" alt="">
            </div>
            <h2 class="zagolovok_sect3">
                Разработка
            </h2>
            <p class="content_sect3">
                • Создание фронтенда: верстка макета с использованием HTML, CSS, JavaScript <br>
                • Разработка бэкенда: создание серверной логики, баз данных, интеграция с API <br>
                • Разработка дополнительных функций, например, форм обратной связи, поиск и других
            </p>
        </div>
        <div class="box_border width_border testtirov_width animatable fadeInUp">
            <h2 class="zagolovok_sect3">
                Тестирование
            </h2>
            <div class="karinka_sect3 kartinka_testirov">
                <img src="{% static 'img/этапы_разработки/тестирование.png' %}" alt="">
            </div>
            <p class="content_sect3">
                • Проведение функционального тестирования для проверки работоспособности всех компонентов <br>
                • Тестирование совместимости с разными браузерами, устройствами и разрешениями экранов <br>
                • Проверка безопасности и уязвимостей
            </p>
        </div>
    </div>
    <div class="container_section3_end">
        <div class="box_border width_border zapysk_width animatable fadeInUp">
            <div class="flex_boxa flex_5_etap">
                <div class="zapusk_box">
                    <h2 class="zagolovok_sect3 zagolovok_5_etap_pusk ">
                        Запуск и Публикация
                    </h2>
                    <div class="content_sect3 content_zapusk">
                        <ul>
                            <li>Выгрузка сайта на сервер.</li>
                            <li>Оптимизация производительности сайта: кэширование данных для более быстрой работы сайта
                            </li>
                            <li>Регистрация доменного имени, настройка DNS.</li>
                            <li>Запуск сайта для общего доступа.</li>
                        </ul>
                    </div>
                </div>
                <div class="karinka_sect3 zapusk_kartinka">
                    <img class="padding_zapusk" src="{% static 'img/этапы_разработки/запуск.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container_section3_end animatable fadeInUp">
        <div class="box_border  zapysk_width ">
            <h2 class="zagolovok_sect3 zagolovok_6_etap_pusk tech_poderjka_padding">
                Техническая Поддержка и Обслуживание
            </h2>
            <div class="flex_gifki_box">
                <div class="tech_kartinka">
                    <img src="{% static 'img/этапы_разработки/техподержка.png' %}" alt="">
                </div>
                <div class="gifki_block">
                    <div class="gif_block">
                        <img src="{% static 'img/этапы_разработки/галочка.gif' %}" alt="">
                        <div class="boxgif">
                            <h3 class="zagolovok_gif">
                                Резервное копирование:
                            </h3>
                            <p class="content_gifki">
                                Создание регулярных резервных копий сайта и баз данных для восстановления в случае
                                непредвиденных сбоев или потери данных
                            </p>
                        </div>
                    </div>
                    <div class="gif_block">
                        <img src="{% static 'img/этапы_разработки/галочка.gif' %}" alt="">
                        <div class="boxgif">
                            <h3 class="zagolovok_gif">
                                Безопасность:
                            </h3>
                            <p class="content_gifki">
                                Мониторинг безопасности и принятие мер для предотвращения взломов и атак.
                            </p>
                        </div>
                    </div>
                    <div class="gif_block">
                        <img src="{% static 'img/этапы_разработки/галочка.gif' %}" alt="">
                        <div class="boxgif">
                            <h3 class="zagolovok_gif">
                                Поддержка пользователей:
                            </h3>
                            <p class="content_gifki">
                                Предоставление технической поддержки для пользователей, включая решение проблем,
                                ответы
                                на
                                вопросы и помощь в использовании функций сайта.
                            </p>
                        </div>
                    </div>
                    <div class="gif_block">
                        <img src="{% static 'img/этапы_разработки/галочка.gif' %}" alt="">
                        <div class="boxgif">
                            <h3 class="zagolovok_gif">
                                Управление платформой:
                            </h3>
                            <p class="content_gifki">
                                Управление сервером, доменами и другими техническими аспектами для обеспечения
                                бесперебойной работы сайта.
                            </p>
                        </div>
                    </div>
                    <div class="gif_block">
                        <img src="{% static 'img/этапы_разработки/галочка.gif' %}" alt="">
                        <div class="boxgif">
                            <h3 class="zagolovok_gif">
                                Обновление и адаптация дизайна:
                            </h3>
                            <p class="content_gifki">
                                Внесение изменений в дизайн сайта, чтобы он оставался современным и соответствовал
                                последним трендам.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>