{% load static %}
<div class="container_section_tariphy ">
    <div class="tariphy animatable fadeInUp" id="tariphy">
        <h1>Популярные тарифы</h1>
    </div>
    <div class="container_grid_terapia ">
        <div class="container_tariphy animatable fadeInUp">
            <div class="zagolovok_tariphy cvet_paket2">
                <div class="content_tariphy ">
                    Landing-page
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy2">
                    <ul>
                        <li>До 10 информационных блоков</li>
                        <li>Продающий контент</li>
                        <li>Уникальный дизайн</li>
                        <li>Адаптивный дизайн</li>
                        <li>Cоздание форм обратной связи с использованием Telegram ботов</li>
                    </ul>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy forma_otkroisy">
                        от 70 000 ₽
                    </div>
                    <div class="podrobnee_tariphy forma_otkroisy">
                        <p>Заказать</p>
                    </div>
                </div>
                <a class="podrobnee_dum" href="{% url 'landing' %}">Подробнее</a>
            </div>
        </div>
        <div class="container_tariphy animatable fadeInUp">
            <div class="zagolovok_tariphy cvet_paket3">
                <div class="content_tariphy">
                    Многостраничный сайт
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy2">
                    <ul>
                        <li>До 10 уникальных разделов</li>
                        <li>Продающий контент</li>
                        <li>Уникальный дизайн</li>
                        <li>Адаптивный дизайн</li>
                        <li>Тех-сопровождение сайта в течении 6 месяцев</li>
                        <li>Разработка контекстная реклама</li>
                    </ul>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 150 000 ₽
                    </div>
                    <div class="podrobnee_tariphy forma_otkroisy">
                        <p>Заказать</p>
                    </div>
                </div>
                <a class="podrobnee_dum" href="{% url 'korparativ' %}">Подробнее</a>
            </div>
        </div>
        <div class="container_tariphy animatable fadeInUp">
            <div class="zagolovok_tariphy cvet_paket4">
                <div class="content_tariphy">
                    интернет-магазин
                </div>
            </div>
            <div class="cvet_tarifa">
                <div class="content_tariphy2">
                    <ul>
                        <li>До 50 категорий</li>
                        <li>До 1000 товаров</li>
                        <li>Продающий контент</li>
                        <li>Уникальный дизайн</li>
                        <li>Адаптивный дизайн</li>
                        <li>Разработка контекстная реклама</li>
                        <li>Преимиум сопровождение введения и создания сайта</li>
                    </ul>
                </div>
                <div class="flex_cena_podrobnee">
                    <div class="cena_tariphy">
                        от 250 000 ₽
                    </div>
                    <div class="podrobnee_tariphy forma_otkroisy">
                        <p>Заказать</p>
                    </div>
                </div>
                <a class="podrobnee_dum" href="{% url 'online_shop' %}">Подробнее</a>
            </div>
        </div>
    </div>
    <div class="container_section3_end">
        <div class="paket_indidualnyi">
            <div class="zagolovok_paket_individ ">
                Пакет “Индивидуальный”
            </div>
            <div class="individ_paket ">
                <div class="bazov_funcii">
                    Вы всегда можете выбрать “Индивидуальный пакет”. Если вам не подходят вышеуказанные услуги и вы
                    хотите
                    создать
                    с нашей помощью, что то особенное.
                </div>
                <div class="flex_paket_individ">
                    <div class="flex_paket_individ_text">
                        <div class="content_paket_indiv_1">
                            В этот пакет входит :
                        </div>
                        <div class="content_paket_indiv_2">
                            Базовые функции + Индивидуально подобранные параметры, необходимые именно для вашего проекта
                        </div>
                    </div>
                    <div class="kartinka_paket_individ">
                        <img src="{% static 'img/tariphy/щестерёнки.gif' %}" alt="">
                    </div>
                </div>
                <div class="soimost_zapros">
                    Стоимость определяется по запросу: для сложных, уникальных и масштабных проектов,
                    а также проектов, требующих индивидуального подхода
                </div>
                <div class="podrobnee_tariphy2 forma_otkroisy">
                    <p>Подробнее</p>
                </div>
            </div>
        </div>
        <!-- <div class="podrobnee_praisom">
            Подробнее с прайсом на дополнительные услуги можно ознакомиться здесь
        </div> -->
    </div>
</div>