{% load static %}
<div class="container_vash_sait">
    <div class="container_vash_sait_margin">
        <div class="fon_vash_sait animatable fadeInUp">
            <img src="{% static 'img/vash_sait/фон сайта1.png' %}" alt="">
        </div>
        <p class="postoyano_obuch animatable fadeInUp">
            Постоянно обучаемся и следим за новыми тенденциями, чтобы создавать самые удобные и быстрые сайты для вашего
            бизнеса.
        </p>
        <p class="postoyano_obuch animatable fadeInUp">
            Используем в своей работе только отлично зарекомендовавших себя помощников, таких как Python, JavaScript,
            Django, Figma, Photoshop, Bootstrap Studio и др.
        </p>
        <div class="iconki_fraimvork ">
            <div class="iconki_fraimvork1 animatable fadeInUp">
                <img src="{% static 'img/vash_sait/python.png' %}" alt="">
                <img src="{% static 'img/vash_sait/js.png' %}" alt="">
                <img src="{% static 'img/vash_sait/dj.png' %}" alt="">
            </div>
            <div class="iconki_fraimvork2 animatable fadeInUp">
                <img src="{% static 'img/vash_sait/figma.png' %}" alt="">
                <img src="{% static 'img/vash_sait/ps.png' %}" alt="">
                <img src="{% static 'img/vash_sait/bootstrap.png' %}" alt="">
            </div>
        </div>
    </div>
</div>