{% load static %}
<div class="container_svyz_snami">
    <div class="sections_vyz_snami animatable fadeInUp">
        <div class="svyz_otlich_proekt">
            СВЯЖИТЕСЬ С НАМИ <br>И мы сделаем отличный проект вместе!
            <div class="svyz_baba">
                <img src="{% static 'img/связь_с_нами/фон_связ_с_нами.png' %}" alt="">
            </div>
            <div class="svyzatsy_knopka forma_otkroisy">
                Обсудить проект
            </div>
        </div>

    </div>
</div>